.default-picture, .default-picture img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #252525;
  font-size: 1.2rem;
  color: tomato;
  padding: 0;
  margin: 0;
  border: 1px solid tomato;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    cursor: pointer;
  }
}